
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('./ui/assets/BG.svg');
  background-repeat: no-repeat;
  background-size: 600%;
  height: 100%;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #981E25;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #BE2830;
  }
}